<div class="imaged-placeholder cols-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="container language col-xs-12 col-md-8 col-sm-8 col-lg-8">
  <div class="text col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3 id="language-text-title"> Find <i> Your </i> business contract </h3>
    <h4 id="language-text-desc"> Contact new partners, make deals, develop your business </h4>
  </div>
  <div class="langs container center col-xs-8 col-sm-8 col-md-6 col-lg-6">
   <h4 id="language-text-panel"> Choose youre languages </h4>
    <ul class="list">
      <li class="item"> <%= link_to "Francais", categories_path(locale: "fr") %> </li>
      <li class="item"> <%= link_to "English", categories_path(locale: "en") %>  </li>
      <li class="item"> <%= link_to "Русский", categories_path(locale: "ru") %>  </li>
      <li class="item"> <%= link_to "Украiнська", categories_path(locale: "ua") %>  </li>
    </ul>
   </div>
  </div>
</div>
  <div class="body-lang container col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="body-lang text-center left col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h3> Что это за сайт? </h3>
      <span class="text-left"> <%= t('footer.lorem') %> </span>
    </div>
    <div class="body-lang text-center center col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h3> Таргет-группа </h3>
      <span class="text-left"> <%= t('footer.lorem') %> </span>
    </div>
    <div class="body-lang text-center right col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h3> В чём профит? </h3>
      <span class="text-left"> <%= t('footer.lorem') %> </span>
    </div>
 </div>