<div class="company-item col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class=" company-item-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= link_to company.name, company_path(id: company.id) %>
      </div> 
      <div class="company-item-image col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <%= image_tag company.image_path %>
      </div>
      <div class="company-item-text col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p class="description"> <%= company.description %> </p>
        <p class="what-do"> What we do </p>
      </div>
      <a href="http://<%= company.website %>">
        <div class="company-item-website col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <%= image_tag company.website_image_path%>
        </div>
      </a>
      <div class="company-item-address text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p> <%= company.address%> - <%= company.country %> </p>
      </div>
</div>