<%= form_for @company, :html => {:multipart => true } do |f| %>

 <div class="user-wrap container">
 	<div class="user-name row col-xs-12 col-sm-12 col-md-11 col-lg-11" >
 		 <h3>Общая информация</h3>
 	<div class="name-wrap">
		<p class="place-zone place-name">
		<%= f.text_field :name, :placeholder => "Название предприятия"%>
		</p>
	</div>	 
	 <%= f.hidden_field :user_id, :value => current_user.id %>

<div class="paper-wrap">
	<p>
		<%= f.file_field :paper_image %>
	</p>
</div>	

	<div class="cat-wrap">
		<p class="cat-name">
		<%= f.select_tag :category_id, options_from_collection_for_select(Category.all, "id", "name"),
		:class => "place-cat", :prompt => "Выберите категорию" %><br>
    	</p>
    </div>
    <div class="sub-name">
		<p class="sub-name"> 
		<%= f.select_tag :subcategory_id,  options_from_collection_for_select([], "id", "name"),
		 :class => "place-sub",
	                     "data-option-dependent" => true,
	                     "data-option-observed" => "category_id",
	                     "data-option-url" => "/categories/:category_id:/subcategories.json",
	                     "data-option-key-method" => :id,
	                     "data-option-value-method" => :name %>
			<br/>
		<p>
	</div>	
		
	<%= f.text_area :description, :placeholder => "Описание предприятия",
	 :class => "place-text"%>
	</p>
	</div>
	<div class="user-place row col-xs-12 col-sm-12 col-md-11 col-lg-11">
		 <h3>Контакты</h3>
	<div class="city-wrap">	 
		<p>
		<%= select_tag :city, options_from_collection_for_select(City.all, "id", "name"),
		:prompt => "Выберите город" %>
		</p>
	</div>
	<div class="addres-wrap">	
		<p class="place-zone">
		<%= f.text_field :address, :placeholder => "Адрес"%>
		</p>
	</div>
	<div class="phone-wrap">		
		<p class="place-zone">
		<%= f.text_field :phone, :placeholder => "Контактный телефон" %>
		</p>
	</div>
	<div class="phone-wrap">
		<p class="place-web place-zone ">
		<%= f.text_field :website, :placeholder => "Адрес web-сайта"%>
		 </p>
	</div>	
	 <!-- <p class="place-web-text"> У вас нет вебсайта? Закажите его у нас! /ссылка на наш собственный сайт/ </p> -->
	
  	</div>
	<div class="user-company col-xs-12 col-sm-12 col-md-11 col-lg-11">
		 <h3>Дополнительная информация о предприятии</h3>
		<div class="type-wrap">
			<p class="place-zone type">
				<%= f.text_field :comp_type, :placeholder => "Тип предприятия",
				 :class => "place-gold " %>
			</p>
		</div>		
		<div class="year-wrap">
			<p class="place-zone">
				 <%= f.text_field :year_created, :placeholder => "Год основания",
				 :class => " place-gold" %>
			</p>
		</div>
		<div class="employee-wrap">
			<p class="place-zone">
				<%= f.text_field :employee_count, :placeholder => "Штат сотрудников",
				 :class => " place-gold" %>
			</p>
		</div>
		<div class="budget-wrap">
			<p class="place-zone">
				<%= f.text_field :budget, :placeholder => "Годовой оборот",
				 :class => " place-gold" %>
			</p>
			</div>
			<div class="clear"> </div>
		</div>

			<div class="user-comp-img col-xs-11 col-sm-11 col-md-11 col-lg-11">
				 <h3>Изображения</h3>
				<%= f.fields_for :company_images do |builder| %>
					<%if builder.object.new_record? %>
					<div class="user-image"> 
					<p >
					<%= builder.file_field :photo %>
					</p>
					 <p class="place-foto">
					 <%= builder.text_field :caption, :placeholder => "информация", :class => "place-f" %>
					</p>	 
					</div>

				<% end %>
			  <% end %>
          </div>


 	<div class="user-comp-img col-xs-11 col-sm-11 col-md-11 col-lg-11">

				 <h3>Ключевые слова (разделённые запятой)</h3>
				 <%= f.text_field :tag_list%>
	</div>
<div class="button-comp col-xs-12 col-sm-12 col-md-11 col-lg-11 text-center"> <p><%= f.submit "Регистрация" %> </p> </div>

<% end %>

<script>
$('select[data-option-dependent=true]').each(function(i) {
  var key_method, observed, observed_dom_id, observer, observer_dom_id, prompt, regexp, url_mask, value_method;
  observer_dom_id = $(this).attr('id');
  observed_dom_id = $(this).data('option-observed');
  url_mask = $(this).data('option-url');
  key_method = $(this).data('option-key-method');
  value_method = $(this).data('option-value-method');
  prompt = $(this).has('option[value]').size() ? $(this).find('option[value]') : $('<option value="">').text('Выберите подкатегорию');
  regexp = /:[0-9a-zA-Z_]+:/g;
  observer = $('select#' + observer_dom_id);
  observed = $('#' + observed_dom_id);
  if (!observer.val() && observed.size() > 1) {
    observer.attr('disabled', true);
  }
  observed.on('change', function() {
    var url;
    observer.empty().append(prompt);
    if (observed.val()) {
      url = url_mask.replace(regexp, observed.val());
      $.getJSON(url, function(data) {
        $.each(data, function(i, object) {
          observer.append($('<option>').attr('value', object[key_method]).text(object[value_method]));
          observer.attr('disabled', false);
        });
      });
    }
  });
});
</script>
