<div class="categories container col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <div class="categories items col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="block text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"> На нашем сайте представлены предприятия следующих типов промышленности: </h2>
    <% @categories.each do |cat|%>
    <%= render partial: "category", locals: {cat: cat}%>
    <% end %>
    <div class="categories items pages text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= will_paginate @categories %>
    </div>
  </div>
  <div class="almost-footer container col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="almost-footer text-center left col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2> Здеcь могла бы быть ваша реклама :-) </h2>
    </div>
  </div>
</div>
<div class="advertisement container col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="advert-header col-sm-12 col-md-12 col-lg-12">
    <h3> Новостной блог </h3>
  </div>
  <% @blogs.each do |blog| %>
  	<div class="blog-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><p class="blog-theme"> Тема: <%= blog.theme %> </p> </div>
  		<h3 class="blog-header"> <%= blog.title %> </h3>
  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  			<% if blog.thumb %><%= image_tag blog.thumb, class: "blog-image"%> <% end %>
  			<p class="blog-text"> <%= blog.text%> </p>
  		</div>
  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a class="blog-more"> Read more <span class="glyphicon glyphicon-chevron-right"> </a> </div>
  		<div class=" blog-time-div col-xs-12 col-sm-12 col-md-12 col-lg-12">
  			<p class="blog-author"> Автор: <%= blog.author %> </p>
  			<p class="blog-time"><%= blog.created_at.strftime("%H:%M, %F") %></p>
  		</div>
    </div>
  <% end %>
  
</div>
