<div class="categories container col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <div class="categories items col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="block text-center col-xs-12 col-sm-12 col-md-12 col-lg-12"> На нашем сайте представлены предприятия следующих типов промышленности: </h2>
    <% @categories.each do |cat|%>
    <%= render partial: "category", locals: {cat: cat}%>
    <% end %>
    <div class="categories items pages text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= will_paginate @categories %>
    </div>
  </div>
  <div class="almost-footer container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <h3 class="text-center"> Реклама </h3></div>
	    <div class="slider">
			<ul>
				<li><%= image_tag 'slides/slide1.jpg'%></li>
				<li><%= image_tag 'slides/slide2.jpg'%></li>
				<li><%= image_tag 'slides/slide3.jpg'%></li>
				<li><%= image_tag 'slides/slide4.jpg'%></li>
				<li><%= image_tag 'slides/slide5.jpg'%></li>
			</ul>
		</div>
    </div>
</div>
<div class="advertisement container col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <div class="advert-header col-sm-12 col-md-12 col-lg-12">
    <h3> Новостной блог </h3>
  </div>
  <% @blogs.each do |blog| %>
  	<div class="blog-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><p class="blog-theme"> Тема: <%= link_to blog.theme, blogs_path(theme: blog.theme) %> </p> </div>
  		<h3 class="blog-header"> <%=link_to blog.title, blog_path(id: blog.id) %> </h3>
  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  			<% if blog.thumb %> <a href="<%= blog_path( id: blog.id ) %>"><%= image_tag blog.thumb, class: "blog-image"%> </a> <% end %>
  			<p class="blog-text"> <%= blog.text.truncate(200, separator: " ")%> </p>
  		</div>
  		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><a class="blog-more"> Read more <span class="glyphicon glyphicon-chevron-right"> </a> </div>
  		<div class=" blog-time-div col-xs-12 col-sm-12 col-md-12 col-lg-12">
  			<p class="blog-author"> Автор: <%= link_to blog.author, blogs_path(author: blog.author) %> </p>
  			<p class="blog-time"><%= blog.created_at.strftime("%H:%M, %F") %></p>
  		</div>
    </div>
  <% end %>
  
</div>


<script>

$(document).ready(function() {
 $(".slider").each(function () { // обрабатываем каждый слайдер
  var obj = $(this);
  $(obj).append("<div class='nav'></div>");
  $(obj).find("li").each(function () {
   $(obj).find(".nav").append("<span rel='"+$(this).index()+"'></span>"); // добавляем блок навигации
   $(this).addClass("slider"+$(this).index());
  });
  $(obj).find("span").first().addClass("on"); // делаем активным первый элемент меню
 });
});
function sliderJS (obj, sl) { // slider function
 var ul = $(sl).find("ul"); // находим блок
 var bl = $(sl).find("li.slider"+obj); // находим любой из элементов блока
 var step = $(bl).width(); // ширина объекта
 $(ul).animate({marginLeft: "-"+step*obj}, 500); // 500 это скорость перемотки
}
$(document).on("click", ".slider .nav span", function() { // slider click navigate
 var sl = $(this).closest(".slider"); // находим, в каком блоке был клик
 $(sl).find("span").removeClass("on"); // убираем активный элемент
 $(this).addClass("on"); // делаем активным текущий
 var obj = $(this).attr("rel"); // узнаем его номер
 sliderJS(obj, sl); // слайдим
 return false;
});

</script>
