<div class="horline-language-1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
</div>
<div class="horline-language-2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
</div>
<div class="footer container center col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="logo text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <%= image_tag 'herb.png', class: "footer logo image"%>
  </div>
  <div class="left col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <span> <%= t('footer.lorem')%> </span>
  </div>
  <div class="right col-xs-12 col-sm-3 col-md-3 col-lg-3">
    <ul class="info list">
      <li class="item"> <a href="#"> <%= t('main.help')%> </a> </li>
      <li class="item"> <a href="#"> <%= t('main.rights')%> </a> </li>
      <li class="item"> <a href="#"> <%= t('main.tos')%> </a> </li>
      <li class="item"> <a href="#"> <%= t('main.blog')%> </a> </li>
    </ul>
  </div>
</div>